  /* Custom stlyes (outside webflow) */

  .hero-container{
    border-right: 1px solid #fff;
  }
  
  #login-card{
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .body{
    background-color:#202028;
    display: flex !important;
    flex-direction: row !important;
    align-items: stretch !important;
    justify-content: flex-start !important;
    border-right: 2px solid #000;
    background-color: #202028;
    font-family: "Droid Sans", sans-serif;
    color: #fff;
  }
  
  .progress-container{
    display: flex;
    flex-direction: column;
  }
  