 *:focus {
  outline: none;
}

.background {
  /*background-image: url("websiteSeating.jpg");*/
  background-position: center center;
  background-size: cover;
  background-color: black;


}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


h2{
  color: white;
  font-style: "Times New Roman", Times, serif
  font-size: 250px;
  text-align: center;
}